@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.small-6{
  /* background-color: aqua; */
  border: 1px solid black;
}

/* 
* Always set the map height explicitly to define the size of the div element
* that contains the map. 
*/
#map {
  height: 20rem;
  width: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
  background-color: #f4f8fc;
}
#title{
  color: #0088CC; /* Dark blue title color */
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 10px;
}
input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #0077B6; /* Medium blue border color */
  font-size: 1rem;
  margin-right: 1rem;
}

#mainContainer{
margin-top: 60px;
}
.card-section{
  width: 40rem;
}
.card-divider{
  background: #000000;
}

/* .card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
} */

.card h4 {
  margin-top: 0;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.card p {
  margin: 0;
  font-size: 16px;
  color: #666;
  font-family: 'Montserrat', sans-serif;
}

.card .attractions-address {
  font-weight: bold;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.card .attractions-website a {
  color: #007bff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.card .attractions-rating {
  margin-top: 10px;
  font-style: italic;
  color: #666;
  font-family: 'Montserrat', sans-serif;
}

.city-heading {
  text-align: center;
}


.page-center {
  margin-top: 30%;
}

.button {
  margin: 0 1rem 1rem 1rem;
}

ol li:hover {
  background-color: #ccc;
}


.list-group {
margin-bottom: 1rem;
border: 1px solid #e6e6e6;
border-radius: 0;
background: #fefefe;
box-shadow: none;
overflow: hidden;
color: #0a0a0a;
}

.list-group > :last-child {
margin-bottom: 0;
}

.list-group-item {
padding: 1rem;
border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
margin-bottom: 0;
border-bottom: none;
}

.list-group-item:hover, .list-group-item:focus {
background-color: #e6e6e6;
}
