/* import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* root */
:root{
  --primary-color:#0077B6;
  --secondary-color:#e9e6e6;
  --light-grey-color:#666;
  --white-color:#ffffff;
  --font-weight-bold:bold
}

/* body */
body {
  height: 100vh;
  padding: 0;
  background-color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* typography */
h1{
  color: var(--white-color);
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
}
h2 {
  color: var(--white-color);
  font-size: 2.5rem;
  margin: 2%;
  font-weight: var(--font-weight-bold);

}
h4 {
  font-size: 1.5rem;
  color: var(--primary-color);
}
p {
  font-size: 16px;
  color: var(--light-grey-color);
}
#modal-heading{
  color: var(--primary-color);
}
.list-group-item{
  color: var(--white-color);
}

/* hero */
.hero {
  background-color: var(--primary-color);
  padding-top: 4%;
  padding-bottom: 4%;
}

#search {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#search:hover {
  background-color: var(--light-grey-color);
  color: var(--secondary-color);
}

#title{
  margin-bottom: 2rem;
  margin-top: 10px;
}

/* map information */
#map {
  height: 20rem;
  width: 100%;
  margin-bottom: 1rem;
}
.city-heading {
  color: var(--primary-color);
}
#mainContainer{
  background-color: var(--primary-color);
  }

/* favourite section */
.favourite-section {
  background-color: var(--secondary-color)
}

.list-group-item:hover {
  background-color: #004970;
}

/* photo */
.photo-size {
  margin-bottom: 1%;
  background-color: var(--primary-color);
  color: var(--primary-color);
  border-radius: 8px;
}

.photo-size .card {
  background-color: var(--primary-color);
  
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  margin-right: 1rem;
}

/* card */
.card {
  border-radius: 8px;
  border: 0;
  background-color: var(--secondary-color);
}

.card-divider{
 width: 100%;
  background: #2f3133;
}

.card .attractions-address {
  font-weight: bold;
  color: var(--light-grey-color);
}

.card .attractions-website a {
  color: var(--primary-color);
  text-decoration: none;
}

.card .attractions-rating {
  margin-top: 10px;
  font-style: italic;
  color: var(--light-grey-color);
}

/* button */
.button {
  margin: 0 1rem 1rem 1rem;
  border-radius: 8px;
}

/* list */
.list-group {
  margin-bottom: 1rem;
  border: 0px solid var(--secondary-color);
  background: var(--secondary-color);
  box-shadow: none;
  overflow: hidden;
  color: var(--light-grey-color);
  border-radius: 8px;
}

.list-group > :last-child {
margin-bottom: 0;
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--primary-color);
}

/* footer */
footer {
  text-align: center;
  padding: 1rem;
}

/* media query */
@media screen and (max-width:768px){
  .grid-x .grid-margin-x .grid-padding-x{
display: none;
  }
}