.small-6{
    /* background-color: aqua; */
    border: 1px solid black;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 20rem;
    width: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E0F1F9;
  }
  #title{
    color: #0088CC; /* Dark blue title color */
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 10px;
  }
  input[type="text"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #0077B6; /* Medium blue border color */
    font-size: 1rem;
    margin-right: 1rem;
  }
  .card-section{
    width: 40rem;
    height: 15rem;
  }

.map-show-transition{
  transition: opacity 0.5s ease-in;
  display: flex;
}
.photo-size{
  height: 19.2rem;
  object-fit: cover;
  margin-bottom: 1rem;

}