@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.small-6{
  /* background-color: aqua; */
  border: 1px solid black;

}

h2 {
  color: #ffffff;
  font-weight: 600;
  margin: 2%;
  letter-spacing: 2PX;
}

.city-heading {
  color: #0077B6;
  padding-bottom: 2%;
  text-transform: uppercase;
}

.grid-x {
  padding: 2%;
}

.favourite-section {
  background-color: #e9e6e6;
}

/* 
* Always set the map height explicitly to define the size of the div element
* that contains the map. 
*/
#map {
  height: 20rem;
  width: 100%;
}

.photo-size {
  margin-bottom: 1%;
  background-color: #0077B6;
  color: #0077B6;
  border-radius: 8px;
}

.photo-size .card {
  background-color: #0077B6;
  
}

.grid-margin-x {
  margin: 0;
}


/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  padding: 0;
  background-color: #e9e6e6;
}

.header {
  background-color: #0077B6;
  padding-top: 4%;
  padding-bottom: 4%;
}

#search {
  background-color: #ffffff;
  color: #0077B6;
  font-weight: 700;
}

#search:hover {
  background-color: #37393b;
  color: #ffffff;
  font-weight: 700;
}

#title{
  color: #ffffff; /* Dark blue title color */
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 10px;
  font-weight: 700;
}
input[type="text"] {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #0077B6; /* Medium blue border color */
  font-size: 1rem;
  margin-right: 1rem;
}

.card-section{
  width: 40rem;
}

#mainContainer{
background-color: #0077B6;
}

.card {
  border-radius: 8px;
  border: 0;
  background-color: #e9e6e6;
}

.card-section{
  width: 40rem;
}
.card-divider{
  background: #2f3133;
}

.card h4 {
  margin-top: 0;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.card p {
  margin: 0;
  font-size: 16px;
  color: #666;
  font-family: 'Montserrat', sans-serif;
}

.card .attractions-address {
  font-weight: bold;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.card .attractions-website a {
  color: #007bff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.card .attractions-rating {
  margin-top: 10px;
  font-style: italic;
  color: #666;
  font-family: 'Montserrat', sans-serif;
}

.city-heading {
  text-align: center;
}


.page-center {
  margin-top: 30%;
}

.button {
  margin: 0 1rem 1rem 1rem;
  border-radius: 8px;
}

ol li:hover {
  background-color: #ccc;
}


.list-group {
margin-bottom: 1rem;
border: 0px solid #e6e6e6;
background: #fefefe;
box-shadow: none;
overflow: hidden;
color: #0a0a0a;
border-radius: 8px;
}

.list-group > :last-child {
margin-bottom: 0;
}

.list-group-item {
padding: 1rem;
border-bottom: 1px solid #e6e6e6;
cursor: pointer;
border-radius: 8px;
background-color: #7e92bd;
}

.list-group-item > :last-child {
margin-bottom: 0;
border-bottom: none;
}

.list-group-item:hover, .list-group-item:focus {
background-color: #0077B6;
color: #ffffff;
}


.footer {
  object-fit: cover;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1%;
}